{% extends 'base.html' %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/artistas.css' %}">
{% endblock %}

{% block content %}
{% load i18n %}
    <div class="container">

        <div class="titulo">
            <h1>{% translate "Artistas" %}</h1>
        </div>

        <div class="lista_artistas">
            {% for artista in artistas %}
                <a class="enlace_artista" href="{% url 'detalle_artista' artista.id %}">
                    {% if artista.foto %}
                        <img src="{{ artista.foto }}" alt="{% translate 'Imagen del artista' %}">
                    {% endif %}
                    <div class="preview_artista">
                        <div class="info_superpuesta">
                            <h3>{{ artista.nombre_ape }}</h3>
                            <p>{{ artista.estilo }}</p>
                            <div class="info_hover"> 
                                <hr>
                                <p>{{ artista.biografia|truncatewords:20 }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <a href="{% url 'index' %}" class="volver-index">{% translate 'Volver al Índice' %}</a>
    </div>
{% endblock %}
