{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/artistas.css' %}">
{% endblock %}

{% block content %}
    <div class="container">

        <div class="titulo">
            <h1>{% translate "ARTISTAS" %}</h1>
        </div>

        <div class="lista_flex">
            {% for artista in artistas %}
                <a class="preview" href="{% url 'detalle_artista' artista.id %}">
                    {% if artista.foto %}
                        <img src="{{ artista.foto }}" alt="{% translate 'Imagen del artista' %}">
                    {% endif %}
                    <div class="contenedor_info">
                        <div class="mascara">
                            <h3>{{ artista.nombre_ape }}</h3>
                            <p>{{ artista.estilo }}</p>
                            <div class="info_hover"> 
                                <hr>
                                <p>{{ artista.biografia|truncatewords:20 }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
