{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/cuadros.css' %}">
{% endblock %}

{% block content %}
    

    <div class="titulo">
        <h1>{% translate "CUADROS" %}</h1>
    </div>

    <div class="lista_flex">
        {% for cuadro in cuadros %}
            <div class="cuadro-item">
                <a href="{% url 'detalle_cuadro' cuadro.id %}">
                    {% if cuadro.foto %}
                        <img src="{{ cuadro.foto }}" alt="Imagen de {{ cuadro.nombre }}" class="cuadro-imagen">
                    {% endif %}
                    <p class="cuadro-nombre">{{ cuadro.nombre }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
    <a class="volver-link" href="{% url 'lista_artistas' %}">{% translate "Volver a la lista de artistas" %}</a>
    <a href="{% url 'index' %}" class="volver-link">{% translate "Volver al Índice" %}</a>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/cuadros.js' %}"></script>
{% endblock %}