{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/detalle_exposicion.css' %}"> 
{% endblock %}

{% block content %}

    <div class="titulo">
        <h1>{{ exposicion.nombre }}</h1>
    </div>

    <div class="exposicion-detalle">
        {% if exposicion.foto %}
            <img class="foto" src="{{ exposicion.foto }}" alt="{% translate "Foto de" %} {{ exposicion.nombre }}">
        {% endif %}

        <div class="info">
            <h2>{% translate "Información" %}</h2>
            <p><strong>{% translate "Inicio:" %}</strong> {{ exposicion.fecha_inicio }}</p>
            <p><strong>{% translate "Finalización" %}</strong> {{ exposicion.fecha_fin }}</p>
            <p><strong>{% translate "Descripción:" %}</strong> {{ exposicion.descripcion }}</p>
        </div>
    </div>

    {% if exposicion.cuadros.all %}
    <div class = "carrusel-header">
        <h2> {% translate "En esta exposición descubrirás..." %} </h2>
        <div class = "botones-control">
            <button id = "prev" class = "icon-button" title = "Retroceder">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-width="2" d="M17 2L7 12l10 10"/></svg>
            </button>
            <button id = "next" class = "icon-button" title = "Avanzar">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-width="2" d="m7 2l10 10L7 22"/></svg>
            </button>
        </div>
    </div>

    <div class = "carrusel">

        {% for cuadro in exposicion.cuadros.all %}

        <div class = "elemento_carrusel">
            <a href="{% url 'detalle_cuadro' cuadro.id %}" class = "contenedor_obra">
                <p> {{ cuadro.nombre }} </p>
                <img src="{{ cuadro.foto }}" alt = "Cuadro de la exposición">
            </a>
        </div>

        {% endfor %}
    
    </div>
    {% endif %}

    <div class="btn">
        <a class="btn-link" href="{% url 'lista_exposiciones' %}">{% translate 'Volver a exposiciones' %}</a>
        <a class="arrow-right" href="{% url 'lista_exposiciones' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20"><path fill="white" d="m4 10l9 9l1.4-1.5L7 10l7.4-7.5L13 1z"/></svg>
        </a>
    </div>

{% endblock %}

{% block extra_js %}
    <script src = "{% static 'js/detalle_exposicion.js' %}"></script>
{% endblock %}
