{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/detalle_exposicion.css' %}"> 
{% endblock %}

{% block content %}

    <div class="titulo">
        <h1>{{ exposicion.nombre }}</h1>
    </div>

    <div class="exposicion-detalle">
        {% if exposicion.foto %}
            <img class="foto" src="{{ exposicion.foto }}" alt="{% translate "Foto de" %} {{ exposicion.nombre }}">
        {% endif %}

        <div class="info">
            <h2>{% translate "Información" %}</h2>
            <p><strong>{% translate "Fecha de inicio:" %}</strong> {{ exposicion.fecha_inicio }}</p>
            <p><strong>{% translate "Fecha de fin:" %}</strong> {{ exposicion.fecha_fin }}</p>
            <p><strong>{% translate "Descripción:" %}</strong> {{ exposicion.descripcion }}</p>
        </div>
    </div>

    {% if exposicion.cuadros.all %}
    <div class = "carrusel">

        {% for cuadro in exposicion.cuadros.all %}

        <div class = "elemento_carrusel">
            <a href="{% url 'detalle_cuadro' cuadro.id %}" class = "contenedor_obra">
                <p> {{ cuadro.nombre }} </p>
                <img src="{{ cuadro.foto }}" alt = "Cuadro de la exposición">
            </a>
        </div>

        {% endfor %}
    
    </div>
    {% endif %}

    <a href="{% url 'lista_exposiciones' %}" class = "volver-link">{% translate "Volver a la lista de exposiciones" %}</a>

{% endblock %}
