{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block extra_css %}

    <link rel="stylesheet" href="{% static 'css/exposiciones.css' %}">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>

    <!-- AJAX --> 
    <script src = "{% static 'js/exposiciones.js' %}"></script>

    <!-- FullCalendar CSS -->
    <link rel= "stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.4.2/main.min.css">
    <link rel = "stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.4.2/main.min.css">


    <!-- FullCalendar JS -->
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.15/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.15/index.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.8/locales-all.min.js"></script>

{% endblock %}

{% block content %}

    <!-- Botón para mostrar/ocultar la barra lateral. -->
    <button id="toggle-bar" class="icon-button">
        <svg id="toggle-bar-icon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><rect width="18" height="18" x="3" y="3" rx="2"/><path d="M9 3v18"/></g></svg>
    </button>

    <aside id="sidebar">
        <div id="sidebar-content">
            <form id="filtros">  
                <div id="calendario_filtros">

                    <div id = "header-filtros">
                        <strong><label for="rango_fechas">{% translate "Filtrar por fecha" %}</label></strong>
                        <div id="sidebar-header">
                            <button class = "icon-button" id = "eliminar-filtros">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.013 3H2l8 9.46V19l4 2v-8.54l.9-1.055M22 3l-5 5m0-5l5 5"/></svg>
                            </button>
                        </div>
                    </div>

                    <div id="contenedor_calendario">
                        <input type="text" id="rango_fechas" name="rango_fechas" value="{{ rango_fechas|default:'' }}">
                    </div>
                    <div id="opciones_filtros">
                        <button id = "borrar-inicio">{% translate "Borrar inicio" %}</button>
                        <button id = "hoy">{% translate "Hoy" %}</button>
                        <button id = "borrar-fin">{% translate "Borrar fin" %}</button>
                    </div>
                </div>
            </form>
        
            <div>
                <p><strong> {% translate "Calendario de exposiciones" %} </strong></p>
                <div id="calendar"></div>
            </div>
        </div>
    </aside>
    
    <div id = "contenido">

        <div class="titulo">
            <h1>EXPOSICIONES</h1>
        </div>

        <div class = "contenedor_exposiciones">

            <section id = "seccion_exposiciones_activas" >
                <h2> {% translate "Ya disponible" %} </h2>
                <div class="lista_flex" id = "lista_exposiciones_activas"></div>
            </section>

            <section id = "seccion_exposiciones_futuras">
                <h2> {% translate "Disponible próximamente" %} </h2>
                <div class="lista_flex" id = "lista_exposiciones_futuras"></div>
            </section>

            <section id = "seccion_exposiciones_acabadas">
                <h2> {% translate "Finalizadas" %} </h2>
                <div class="lista_flex" id = "lista_exposiciones_acabadas"></div>
            </section>

        </div>
        <script src="{% static 'js/toggle-bar.js' %}"></script>

    </div>

{% endblock %}
