/* Lista de estilos de common.css usados:

- Título de la página.
- Flexbox contenedora de los artistas.
- Preview de artista.
*/

/* El siguiente estilo se sobrescribe al de common.css */

.preview {
    width: 400px !important;
    height: 300px !important;
}

/* Al pasar el ratón por encima, el texto cambia de altura */
.preview:hover .info_hover {
    height: 100px !important;
}

/* Al pasar el ratón por encima, la imagen se desvanece */
.preview:hover img {
    filter: opacity(0) !important;
}
