/* Lista de estilos de common.css usados:

- Título de la página.
- Flexbox contenedora de los cuadros.
*/

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }

  100% {
    opacity: 0.9;
    transform: translateY(0) scale(1);
  }
}

/* Estado inicial de los cuadros */

.cuadro-item {
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s ease;
  opacity: 0;
  animation-fill-mode: forwards;
  overflow: visible;
}

.cuadro-wrapper {
  border-radius: 10px;
  transition: all 0.5s ease;
  background-color: #d6d6e5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Animación de aparición */

.cuadro-item.show {
  animation: aparecer 0.7s ease-out forwards !important;
}

.cuadro-item.immediate-show { /* Sin animación; clase añadida por JS */
  opacity: 1;
}

/* Efecto de hover sobre cuadro-wrapper para no entrar en conflicto con la animación de aparecer*/

.cuadro-item:hover {
  opacity: 1 !important;
}

.cuadro-wrapper:hover {
  transform: scale(1.02) translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Estilo del cuadro */

.cuadro-imagen {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.cuadro-nombre {
  font-size: 1.2em;
  margin-top: 8px;
  padding-bottom: 2px;
  color: #333;
  font-weight: bold;
}
