/* Lista de estilos de common.css usados:

- Título de la página.
- Título 2 (Obras de la exposición).
- Tarjeta de información.
- Flexbox contenedora de los cuadros.
- Botones de control de los cuadros.
- Botón de Volver a la lista de exposiciones.
*/

.foto {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-bottom: 30px;
}


.carrusel-header {
    display: flex;
    margin-top: 30px;
}

    .carrusel-header h2 {
        justify-content: center;
        flex: 1; /* Ocupa todo el espacio restante */
    }

    .carrusel-header botones-control {
        justify-content: right;
        border-radius: 10px;
    }

        .botones-control .icon-button svg {
            height: 15px;
            width: 15px;
        }


.carrusel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 3%;
    padding: 3px; /* Hace que se vean las sombras */
    margin: -3px; /* Compensa el padding añadido */
    
    /* Oculta las barras de scroll */
    -ms-overflow-style: none; /* Para Internet Explorer y Edge */
    scrollbar-width: none; /* Para Firefox */
  }
  
  .carrusel::-webkit-scrollbar {
    display: none;  /* Para Chrome, Safari y Opera */
  }
    
    .elemento_carrusel {
    scroll-snap-align: center;
    flex: none;
    height: 100%;
    width: fit-content;
    max-width: 2000px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: var(--whitebg);
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: transform 0.2s ease;
    }

    .elemento_carrusel:hover {
        transform: scale(1.01);
    }

    .contenedor_obra {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

        .contenedor_obra p {
            text-align: center;
            margin-top: 10px;
            color: black;
        }

        .contenedor_obra img {
            height: 70vh;
            width: auto;
            padding: 10px;
            border-radius: 15px;
        }
