/* Lista de estilos de common.css usados:

- Título de la página.
- Botón de Volver a la lista de cuadros.
- Negrita (strong).
*/

.detalle-cuadro {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.cuadro-imagen {
    width: 40%;
    max-width: 400px;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-out;
}

.imagen-detalle {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backface-visibility: hidden; 
    transform-style: preserve-3d; /* Prevents pixelation during rotation */
}

.informacion {
    width: 55%;
    text-align: left;
}

.informacion p {
    font-size: 1.1em;
    margin-bottom: 15px;
}


.btn {
    display: flex;
    max-width: 16.25rem;
    z-index: 1;
    background-color: var(--black);
    justify-content: flex-end;
    margin-top: 30px;
}

.btn-link {
    padding: 1.5rem 2.1875rem;
    font: 600 1.25rem/1.5rem 'Big Shoulders Display', sans-serif;
    letter-spacing: .2rem;
    color: var(--white);
    text-transform: uppercase;
    transition: all ease .3s
}


.arrow-left,
.arrow-right {
    padding: 1rem;
    background-color: var(--brown);
    transition: all ease .3s
}

.arrow-left:hover,
.arrow-right:hover {
    background-color: var(--black);
    transition: all ease .3s
}

.btn-link:hover~.arrow-right {
    background-color: var(--black);
    transition: all ease .3s
}
.btn-link:hover {
    background-color: var(--brown)
}

.arrow-left img,
.arrow-right img {
    padding: .625rem
}

