/* Lista de estilos de common.css usados:

- Título de la página.
- Botón de Volver a la lista de cuadros.
- Negrita (strong).
*/

.detalle-cuadro {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.cuadro-imagen {
    width: 40%;
    height: fit-content;
    max-width: 400px;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-out;
}

.imagen-detalle {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backface-visibility: hidden; 
    transform-style: preserve-3d; /* Prevents pixelation during rotation */
}

.informacion {
    width: 55%;
    text-align: left;
}

.informacion p {
    font-size: 1.1em;
    margin-bottom: 15px;
}
