/* Lista de estilos de common.css usados:

- Título de la página.
- Título 2 (Obras Representativas).
- Tarjeta de información (y de biografía).
- Flexbox contenedora de los cuadros.
- Botón de Volver a la lista de artistas.
*/

.artista-detalle {
    display: flex; 
    /* Para que los elementos se alineen en columna */
    flex-direction: column;  
    /* Gap hace que haya un espacio entre los elementos */
    gap: 20px;
    margin-bottom: 30px;
}

.foto {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}

.obras {
    margin-top: 40px;
}

.cuadro {
   width: 30%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.cuadro img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.cuadro h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}

.cuadro:hover {
    transform: translateY(-5px);
}


.btn {
    display: flex;
    max-width: 16.25rem;
    z-index: 1;
    background-color: var(--black);
    justify-content: flex-end;
    margin-top: 30px;
}

.btn-link {
    padding: 1.5rem 2.1875rem;
    font: 600 1.25rem/1.5rem 'Big Shoulders Display', sans-serif;
    letter-spacing: .2rem;
    color: var(--white);
    text-transform: uppercase;
    transition: all ease .3s
}


.arrow-left,
.arrow-right {
    padding: 1rem;
    background-color: var(--brown);
    transition: all ease .3s
}

.arrow-left:hover,
.arrow-right:hover {
    background-color: var(--black);
    transition: all ease .3s
}

.btn-link:hover~.arrow-right {
    background-color: var(--black);
    transition: all ease .3s
}
.btn-link:hover {
    background-color: var(--brown)
}

.arrow-left img,
.arrow-right img {
    padding: .625rem
}

