p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: red;
    line-height: 1.5;
    margin: 10px 0;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: blue;
    line-height: 1.5;
    margin: 10px 0;
}

div.exposicion {
    background-image: none;
}