/* Lista de estilos de common.css usados:

- Título de la página.
- Flexbox contenedora de las exposiciones.
- Preview de exposición.
- Botón de Volver al índice.
*/

.info_disponibilidad {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info_disponibilidad .etiqueta {
    padding: 4px 8px;
    color: #fff;
    border-radius: 8px;
    font-size: 0.8em;
    font-weight: bold;
    display: inline-block;
}

/* Añade margen respecto a info_disponibilidad */
.info_hover hr {
    margin-top: 30px;
}

/* Código de colores en función de la disponibilidad */

.acabada {
    filter: saturate(0%);
}

.activa .etiqueta {
    background-color: #28a745;
}

.futura .etiqueta {
    background-color: #d9b96d;
}

.acabada .etiqueta {
    background-color: #878787;
}
